
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload CSV File</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    {% load static %}
</head>
<style>
    .background{
        background-image:url('{% static 'images/254381.jpg' %}');
        height: 100vh;
        width: 100vw;
        y-overflow:hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .backcls{
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    h1{
    font-family:Georgia;
        font-weight: 100;
        font-size: 60px;
        font-style: italic;
        text-align: center;
        font-family: georgia;
        color: whitesmoke;
    }
    p{
        padding-top: 20px;
    }
      table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
        }
           .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }
    #convertButton {
      margin-top: 10px;
    }
    #jsonContainer {
      margin-top: 20px;
      white-space: pre;
    }
    .bckgrnd{
     background-image:none;
        height: 100vh;
        width: 100vw;
        y-overflow:hidden;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
        .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }
    .button-container {
      margin-top: 10px;
    }
    #convertButton {
      margin-right: 10px;
    }
    #tableContainer {
      margin-top: 20px;
    }
    #jsonContainer {
      white-space: pre;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ccc;
    }
    th, td {
      padding: 8px;
      border: 1px solid #ccc;
    }
    th {
      background-color: #f2f2f2;
    }
</style>
<body>
<!--<form method="POST" enctype="multipart/form-data">-->
<!--     {% csrf_token %}-->
<div class="background" id="bg">
      <div class="container">
    <input type="file" id="csvFileInput" accept=".csv" />
    <div class="button-container">
      <button id="convertButton">Convert to JSON</button>
      <button id="convertToTableButton" disabled>Toggle Table/JSON</button>
    </div>
    <div id="jsonContainer" style="display: none;"></div>
    <div id="tableContainer" style="display: none;"></div>
  </div>
</div>
<!--    </form>-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script>
    let jsonData = null;
    document.getElementById('convertButton').addEventListener('click', handleConvert);
    document.getElementById('convertToTableButton').addEventListener('click', handleConvertToTable);

    function handleConvert() {
    document.getElementById('bg').classList.add('bckgrnd');
      const fileInput = document.getElementById('csvFileInput');
      const file = fileInput.files[0];

      if (file) {
        const reader = new FileReader();

        reader.onload = function (e) {
          const contents = e.target.result;
          const jsonObj = csvToJSON(contents);
          jsonData = jsonObj;

          if (document.getElementById('convertToTableButton').disabled) {
            displayJSON(jsonObj);
            document.getElementById('jsonContainer').style.display = 'block';
            document.getElementById('tableContainer').style.display = 'none';
          } else {
            handleConvertToTable();
          }

          document.getElementById('convertToTableButton').disabled = false;
        };

        reader.readAsText(file);
      }
    }

    function handleConvertToTable() {
      if (jsonData) {
        if (document.getElementById('tableContainer').style.display === 'none') {
          const table = convertToTable(jsonData);
          displayTable(table);
          document.getElementById('tableContainer').style.display = 'block';
          document.getElementById('jsonContainer').style.display = 'none';
        } else {
          document.getElementById('tableContainer').style.display = 'none';
          document.getElementById('jsonContainer').style.display = 'block';
        }
      }
    }

    function csvToJSON(csv) {
      const lines = csv.split('\n');
      const result = [];

      const headers = lines[0].split(',');
      for (let i = 1; i < lines.length; i++) {
        const obj = {};
        const currentLine = lines[i].split(',');

        for (let j = 0; j < headers.length; j++) {
          obj[headers[j]] = currentLine[j];
        }

        result.push(obj);
      }

      return result;
    }

    function convertToTable(jsonObj) {
      const table = document.createElement('table');
      const thead = document.createElement('thead');
      const tbody = document.createElement('tbody');
      const headers = Object.keys(jsonObj[0]);

      // Create table headers
      const headerRow = document.createElement('tr');
      for (let i = 0; i < headers.length; i++) {
        const th = document.createElement('th');
        th.textContent = headers[i];
        headerRow.appendChild(th);
      }
      thead.appendChild(headerRow);

      // Create table rows
      for (let i = 0; i < jsonObj.length; i++) {
        const row = document.createElement('tr');
        for (let j = 0; j < headers.length; j++) {
          const cell = document.createElement('td');
          cell.textContent = jsonObj[i][headers[j]];
          row.appendChild(cell);
        }
        tbody.appendChild(row);
      }

      table.appendChild(thead);
      table.appendChild(tbody);
      return table;
    }

    function displayJSON(jsonObj) {
      const jsonStr = JSON.stringify(jsonObj, null, 2);
      document.getElementById('jsonContainer').textContent = jsonStr;
    }

    function displayTable(table) {
      const tableContainer = document.getElementById('tableContainer');
      tableContainer.innerHTML = '';
      tableContainer.appendChild(table);
    }
</script>
</body>
</html>
