  .background{
       background-image:url('{% static 'images/254381.jpg' %}');
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .backcls{
        background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .font{
        font-family:Georgia;
        font-weight: 100;
        font-size: 60px;
        font-style: italic;
        text-align: center;
    }
    span{
        font-family: cursive;
        color: whitesmoke;
    }
    p{
        padding-top: 20px;
    }

